<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  float: left;
  display: block;
  padding: 8px
  width: 60px;
  background-color: pastelblue 

 
}
</style>
</head>
<body>

<ul>
  <li><a href="index.html">Home</a></li>
  <li><a href="binairstelsel.html">Binair stelsel</a></li>
  <li><a href="kleurmodellen.html">Kleurmodellen</a></li>
  <li><a href="opmaak.css">Opmaak</a></li>
</ul>



</body>
