<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none; <!-- dit zijn bijvoorbeeld bullets-->
  margin: 0; <!--de ruimte tussen een element en andere elementen-->
  padding: 0; <!--de ruimte tussen een element en de inhoud van dat element-->
  overflow: hidden; 
  background-color: grey; <!--kleur van de achtergrond-->
  }
li { 
  float: left;
}
li a {
  display: block; <!--element wordt als een blok weergegeven-->
  color: black; <!--de kleur van de tekst-->
  text-align: left; <!--waar de tekst komt te staan-->
  padding: 14px 16px;
  text-decoration: none;

li a:hover { <!--dit element wordt geselecteerd als jer er met je muis overheen gaat-->
  background-color: pink;
  }
</style>
</head>
<body>

<ul>
  <li><a href="index.html">Home</a></li>
  <li><a href="binairstelsel.html">Binair Stelsel</a></li>
  <li><a href="kleurmodellen.html">Kleurmodellen</a></li>
   <li><a href="werkingvandecomputer.html">Werking van de Computer</a></li>
  <li><a href="opmaak.css">opmaak</a></li>
</ul>


</body>
