<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0; 
  padding: 0;
  overflow: hidden;
  background-color: #333;
  }
li { 
  float: left;
}
li a {
  display: block;
  color: white; 
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;


  
  
}
</style>
</head>
<body>

<ul>
  <li><a href="index.html">Home</a></li>
  <li><a href="binairstelsel.html">BINAIRSTELSEL</a></li>
  <li><a href="kleurmodellen.html">Kleurmodellen</a></li>
  <li><a href="opmaak.css">opmaak</a></li>
</ul>

<p>A background color is added to the links to show the link area.</p>
<p>Notice that the whole link area is clickable, not just the text.</p>

</body>
